* {
    box-sizing: border-box;
    
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: #FFFFFF;
    margin: 0;
}

.navtop {
    margin-top: 70px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: 100%;
    float: center;
}

.navtop div {
    display: flex;
    margin: 0 auto;
    max-width: 800px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navtop div h1 {
    font-size: 30px;
    margin: 0;
    color: black;
    font-weight: normal;
}

.navtop div a {
    text-decoration: none;
    color: #c4c8cc;
    font-weight: bold;
    padding: 0 10px;
}

.navtop div a:hover {
    color: #ebedee;
}

.content {
    width: 800px;
    margin: 80px auto 0;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid #ebebeb;
    color: #666666;
}
